## Movies dataset

In [38]:
import pandas as pd

movies = pd.read_csv("Files/Top_10000_Movies.csv", nrows=1000, usecols=['title','language','release_date','vote_average','genre'])

movies.columns = ['Movie_name','Language','Release_Date','Ratings','Genre']

In [39]:
movies.head()

,Movie_name,Language,Release_Date,Ratings,Genre
0,en,Venom: Let There Be Carnage,30-09-2021,6.8,"['Science Fiction', 'Action', 'Adventure']"
1,en,Eternals,03-11-2021,7.1,"['Action', 'Adventure', 'Science Fiction', 'Fa..."
2,en,Dune,15-09-2021,8.0,"['Action', 'Adventure', 'Science Fiction']"
3,en,Army of Thieves,27-10-2021,6.9,"['Action', 'Crime', 'Thriller']"
4,en,Free Guy,11-08-2021,7.8,"['Comedy', 'Action', 'Adventure', 'Science Fic..."

In [40]:
movies['Ratings']       # Access columns

0      6.8
1      7.1
2      8.0
3      6.9
4      7.8
      ...
995    6.3
996    6.8
997    6.0
998    6.8
999    6.0
Name: Ratings, Length: 1000, dtype: float64

In [41]:
movies.iloc[2]     # Access Rows

Movie_name                                              en
Language                                              Dune
Release_Date                                    15-09-2021
Ratings                                                8.0
Genre           ['Action', 'Adventure', 'Science Fiction']
Name: 2, dtype: object

In [42]:
n=0
for i in movies['Genre']:
    # print(i)
    if "Adventure" not in i:
        movies.drop(n,axis=0, inplace=True)
    #     i="Adventure"
    #     print("Yes")
    # else:
    #     print('No')
    n=n+1

In [43]:
movies.reset_index(drop=True,inplace=True)

In [44]:
n=0
for i in movies['Movie_name']:
    if i != 'en':
        movies.drop(n,axis=0, inplace=True)
    #     i="Adventure"
    #     print("Yes")
    # else:
    #     print('No')
    n=n+1

In [1]:
movies.head()

NameError: name 'movies' is not defined

In [46]:
len(movies)        # no. of rows

256

In [47]:
# movies.reset_index()       # create old index as a column

movies.reset_index(drop=True,inplace=True)

In [48]:
movies.head()

,Movie_name,Language,Release_Date,Ratings,Genre
0,en,Venom: Let There Be Carnage,30-09-2021,6.8,"['Science Fiction', 'Action', 'Adventure']"
1,en,Eternals,03-11-2021,7.1,"['Action', 'Adventure', 'Science Fiction', 'Fa..."
2,en,Dune,15-09-2021,8.0,"['Action', 'Adventure', 'Science Fiction']"
3,en,Free Guy,11-08-2021,7.8,"['Comedy', 'Action', 'Adventure', 'Science Fic..."
4,en,Shang-Chi and the Legend of the Ten Rings,01-09-2021,7.7,"['Action', 'Adventure', 'Fantasy']"

In [49]:
movies.tail()

,Movie_name,Language,Release_Date,Ratings,Genre
251,en,Fantastic Four,05-08-2015,4.4,"['Action', 'Adventure', 'Science Fiction']"
252,en,Allegiant,09-03-2016,6.1,"['Adventure', 'Science Fiction', 'Action', 'My..."
253,en,Despicable Me 3,15-06-2017,6.4,"['Action', 'Animation', 'Comedy', 'Family', 'A..."
254,en,Captain America: The Winter Soldier,20-03-2014,7.7,"['Action', 'Adventure', 'Science Fiction']"
255,en,Dark Phoenix,05-06-2019,6.0,"['Science Fiction', 'Action', 'Adventure']"

In [50]:
Adv = movies[0:120]

In [51]:
Adv.tail()

,Movie_name,Language,Release_Date,Ratings,Genre
115,en,Green Lantern,16-06-2011,5.2,"['Adventure', 'Action', 'Thriller', 'Science F..."
116,en,Pirates of the Caribbean: The Curse of the Bla...,09-07-2003,7.8,"['Adventure', 'Fantasy', 'Action']"
117,en,The Twilight Saga: Breaking Dawn - Part 2,13-11-2012,6.5,"['Adventure', 'Fantasy', 'Drama', 'Romance']"
118,en,Thor: The Dark World,30-10-2013,6.6,"['Action', 'Adventure', 'Fantasy']"
119,en,The Grey,14-09-2011,6.6,"['Drama', 'Thriller', 'Action', 'Adventure']"

In [52]:
Adv.to_csv("Files/100_Adventure_movies.csv")