In [2]:
import seaborn as sb
import pandas as pd
from matplotlib import pyplot as plt

In [12]:
data1 = pd.read_csv('Datasets/titanic1.csv')
data2 = pd.read_csv('Datasets/titanic2.csv')

data = pd.concat([data1,data2])
print(data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         1       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
413                                 Spector, Mr. Woolf    male   NaN      0
414                       Oliva y Ocana, Dona. Fermina  female  39.0      0
415                       Saether, Mr. Simon Sivertsen    male  38.5      0
416                                Ware, Mr. Frederick    male   NaN      0
417                           Peter, Master. Michael J    male   NaN      1

     Parch              Ticket      Fare Cabin Embarked
0        0           A/5 21171    7.2500   NaN        S
1        0            PC 17599   71.2833   C85        C
2        0    STON/O2. 3101282    7.9250   NaN        S
3        0              113803   53.1000  C123        S
4        0              373450    8.0500   NaN        S
..     ...                 ...       ...   ...      ...
413      0           A.5. 3236    8.0500   NaN        S
414      0            PC 17758  108.9000  C105        C
415      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416      0              359309    8.0500   NaN        S
417      1                2668   22.3583   NaN        C

[1309 rows x 12 columns]

In [13]:
print(data.head())
print(data.columns.tolist())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [14]:
data['Sex'].replace(['female','male'],['0','1'],inplace=True)
print(data['Sex'].head())

0    1
1    0
2    0
3    0
4    1
Name: Sex, dtype: object

In [15]:
data['Cabin'].value_counts()

Cabin
C23 C25 C27        6
G6                 5
B57 B59 B63 B66    5
C22 C26            4
F33                4
                  ..
A14                1
E63                1
E12                1
E38                1
C105               1
Name: count, Length: 186, dtype: int64