In [7]:
import numpy as np
import pandas as pd

In [8]:
cars_data = pd.read_csv("Datasets/Toyota.csv",index_col=0,na_values=["??","????"])
cars_data.head(10)

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986.0,Diesel,90.0,1.0,0,2000,three,1165
1,13750,23.0,72937.0,Diesel,90.0,1.0,0,2000,3,1165
2,13950,24.0,41711.0,Diesel,90.0,NaN,0,2000,3,1165
3,14950,26.0,48000.0,Diesel,90.0,0.0,0,2000,3,1165
4,13750,30.0,38500.0,Diesel,90.0,0.0,0,2000,3,1170
5,12950,32.0,61000.0,Diesel,90.0,0.0,0,2000,3,1170
6,16900,27.0,NaN,Diesel,NaN,NaN,0,2000,3,1245
7,18600,30.0,75889.0,NaN,90.0,1.0,0,2000,3,1245
8,21500,27.0,19700.0,Petrol,192.0,0.0,0,1800,3,1185
9,12950,23.0,71138.0,Diesel,NaN,NaN,0,1900,3,1105

In [9]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1421 non-null   float64
 3   FuelType   1336 non-null   object
 4   HP         1430 non-null   float64
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(4), int64(4), object(2)
memory usage: 123.4+ KB

In [10]:
cars_data2 = cars_data.copy()   # create a deep copy

In [11]:
cars_data.index

Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
       ...
       1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435],
      dtype='int64', length=1436)

In [12]:
cars_data.dtypes

Price          int64
Age          float64
KM           float64
FuelType      object
HP           float64
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object

Check unique values

In [13]:
# to get unique values of a column
print(np.unique(cars_data["HP"]))
print(np.unique(cars_data["Automatic"]))

# print(np.unique(cars_data["Doors"]))
cars_data["Doors"].unique()

[ 69.  71.  72.  73.  86.  90.  97.  98. 107. 110. 116. 192.  nan]
[0 1]

array(['three', '3', '5', '4', 'four', 'five', '2'], dtype=object)

Replace the values in "Doors" column

In [14]:
cars_data["Doors"].replace(["three","four","five"],[3,4,5], inplace=True)

# cars_data["Doors"].replace('three', 3, inplace=True)
# cars_data["Doors"].replace('four', 4, inplace=True)
# cars_data["Doors"].replace('five', 5, inplace=True)

In [15]:
cars_data.head(10)

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986.0,Diesel,90.0,1.0,0,2000,3,1165
1,13750,23.0,72937.0,Diesel,90.0,1.0,0,2000,3,1165
2,13950,24.0,41711.0,Diesel,90.0,NaN,0,2000,3,1165
3,14950,26.0,48000.0,Diesel,90.0,0.0,0,2000,3,1165
4,13750,30.0,38500.0,Diesel,90.0,0.0,0,2000,3,1170
5,12950,32.0,61000.0,Diesel,90.0,0.0,0,2000,3,1170
6,16900,27.0,NaN,Diesel,NaN,NaN,0,2000,3,1245
7,18600,30.0,75889.0,NaN,90.0,1.0,0,2000,3,1245
8,21500,27.0,19700.0,Petrol,192.0,0.0,0,1800,3,1185
9,12950,23.0,71138.0,Diesel,NaN,NaN,0,1900,3,1105

In [16]:
cars_data["Doors"].unique()

array([3, '3', '5', '4', 4, 5, '2'], dtype=object)

converting datatype of columns

In [17]:
cars_data["Automatic"] = cars_data["Automatic"].astype('int64')

cars_data["Doors"] = cars_data["Doors"].astype('int64')

In [18]:
cars_data.dtypes

Price          int64
Age          float64
KM           float64
FuelType      object
HP           float64
MetColor     float64
Automatic      int64
CC             int64
Doors          int64
Weight         int64
dtype: object

Replaceing null values by mean, meadian, and mode

In [19]:
cars_data.isnull().sum()

Price          0
Age          100
KM            15
FuelType     100
HP             6
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

## Frequncy tables

In [20]:
pd.crosstab(index=cars_data["FuelType"],columns='count', dropna=True)        # index, columns is required

col_0     count
FuelType
CNG          15
Diesel      144
Petrol     1177

In [21]:
pd.crosstab(index=cars_data["Automatic"],columns=cars_data["FuelType"], dropna=True)

FuelType   CNG  Diesel  Petrol
Automatic
0           15     144    1104
1            0       0      73

In [22]:
pd.crosstab(index=cars_data["Automatic"],columns=cars_data["FuelType"], dropna=True, normalize=True)    # Joint probability

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011228  0.107784  0.826347
1          0.000000  0.000000  0.054641

In [23]:
pd.crosstab(index=cars_data["Automatic"],columns=cars_data["FuelType"], dropna=True, normalize=True, margins=True)    # Marginal probability

FuelType        CNG    Diesel    Petrol       All
Automatic
0          0.011228  0.107784  0.826347  0.945359
1          0.000000  0.000000  0.054641  0.054641
All        0.011228  0.107784  0.880988  1.000000

In [24]:
pd.crosstab(index=cars_data["Automatic"],columns=cars_data["FuelType"], dropna=True, normalize='index')    # Conditional probability
# happening of an event 'A' after event 'B' is happened

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011876  0.114014  0.874109
1          0.000000  0.000000  1.000000

In [25]:
pd.crosstab(index=cars_data["Automatic"],columns=cars_data["FuelType"], margins=True, dropna=True, normalize='columns')    # Conditional probability

FuelType   CNG  Diesel    Petrol       All
Automatic
0          1.0     1.0  0.937978  0.945359
1          0.0     0.0  0.062022  0.054641

## Correlation
strength of association between two variables

In [26]:
cars_data.corr()    # method="pearson" (default)

ValueError: could not convert string to float: 'Diesel'